[bumpversion]
current_version = 2.8.0
commit = True
tag = False

[bumpversion:file:sonar-project.properties]
search = sonar.projectVersion={current_version}
replace = sonar.projectVersion={new_version}

[bumpversion:file:.gitchangelog.rc]
search = unreleased_version_label = "v{current_version} (unreleased)"
replace = unreleased_version_label = "v{new_version} (unreleased)"

[bumpversion:file:./facts/config.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

